.main-navigation {
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 1.3rem;
	font-weight: 700;
	background-color: $color__background-pre;
	margin-top: $spacing_unit/2;
	padding: $spacing_unit/3;

	ul {
		display: none;
		list-style: none;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;

		ul {
			background-color: $color__background-pre;
			padding: $spacing_unit;
			font-size: initial;
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		margin-right: $spacing_unit/2;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__black;
		border-bottom: 3px solid $color__black;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle:before {
	content: "\2630";
	display: inline-block;
	margin-right: 5px;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
