.slider {
  min-height: 300px;
  background-color: red;

  &--mueble {
    background-color: #f3f3f3;
    &__item {
      text-align: center;
      background-color: red !important;
      a {
        display: block;
        padding: $spacing_unit;
        text-decoration: none;
      }
    }
  }

}
