.site {
  min-height: 100vh;

  &-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: $spacing_unit;
    padding-right: $spacing_unit;
    padding-bottom: $spacing_unit;
  }

  &-main {}

  &-content {}

  &-branding {
    display: flex;
    align-items: baseline;
  }

    &-title {
      margin-top: 0;
      display: none;
    }

    &-logo {
      width: 200px;

      img {
        width: 100%;
      }
    }

    &-description {
      padding-left: $spacing_unit;
      display: none;
    }

  &-footer {
    color: $color__black-alpha;
    padding: $spacing_unit;
    background-color: $color__black-alpha2;
  }

  &-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .sep {
      margin-left: $spacing_unit/3;
      margin-right: $spacing_unit/3;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 12px;
    }
  }
}
