// use.logobn {
// 	fill: blue;
// }

// letras logo bn
path.fores-bn {
	fill: $color__black-alpha;
	stroke: none;
}
// circulo arkit
path.arkit {
	fill: none;
	stroke: $color__black-alpha;
}
// letras color
path.casita {
	// fill: red;
	// stroke: $color__black;
}
// path.brico {
// 	fill: $color__white;
// 	stroke: none;
// }

.icon {
	height: 50px;

	&--logo-bn {
		margin-right: $spacing_unit;
		width: 80px;
		stroke: $color__black-alpha;
		stroke-width: 1px;
		fill: none;
	}

	&--habitdesign {
		&:hover {
			fill: $color__black;
			background-color: #E1D1AD;
		}
	}
	&--bricohabitat {
		&:hover {
			background-color: #9C2E83;
			fill: #A9D051;
		}
	}
	&--arkitmobel {
		&:hover {
			fill: #B60050;
		}
	}

	&--facebook,
	&--vimeo {
		height: 15px;
	}

	// Featured icons home
	&--featured {
		width: 100px;
		height: 100px;
		fill: $color__black-alpha;
		stroke-linejoin: round;
		&:hover {
			fill: $color__black;
		}
	}
	&--actualidad {}
	&--novedades {}
	&--grupo {}
	&--servicios {}
	&--contacto {}

	&--actualidad,
	&--novedades,
	&--grupo,
	&--servicios,
	&--contacto {
		// background-color: blue;

		svg {

		}
	}

	&__item {
		height: 20px;
		width: 20px;
	}
}
